In [1]:
import pandas as pd
import numpy as np
import time
import glob
import os
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
from sqlalchemy.engine import URL
import psycopg2
from tqdm import tqdm
pd.set_option('display.max_columns', None)

### Read in filtered provider CSV

In [2]:
col = ['NPI', 'LastName', 'FirstName', 'MiddleName', 'Prefix',
       'Suffix', 'Credential', 'PracticeAddress', 'PracticeAddress2',
       'PracticeCity', 'PracticeState', 'PracticeZip',
       'PracticePhoneNum', 'PracticeFaxNum', 'ProviderGender', 'TaxonomyCode1',
       'TaxonomyCode2', 'TaxonomyCode3', 'TaxonomyCode4', 'TaxonomyCode5',
       'TaxonomyCode6', 'TaxonomyCode7', 'TaxonomyCode8', 'TaxonomyCode9',
       'TaxonomyCode10', 'TaxonomyCode11', 'TaxonomyCode12', 'TaxonomyCode13',
       'TaxonomyCode14', 'TaxonomyCode15']
df = pd.read_csv('filtered_npi_registry.csv',index_col=0,usecols=col)
df = df.reset_index()

/var/folders/j9/zypfn3lx7n72zyzrpnq_sqkr0000gn/T/ipykernel_1560/3974097303.py:9: DtypeWarning: Columns (27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('filtered_npi_registry.csv',index_col=0,usecols=col)

In [3]:
df

,NPI,LastName,FirstName,MiddleName,Prefix,Suffix,Credential,PracticeAddress,PracticeAddress2,PracticeCity,PracticeState,PracticeZip,PracticePhoneNum,PracticeFaxNum,ProviderGender,TaxonomyCode1,TaxonomyCode2,TaxonomyCode3,TaxonomyCode4,TaxonomyCode5,TaxonomyCode6,TaxonomyCode7,TaxonomyCode8,TaxonomyCode9,TaxonomyCode10,TaxonomyCode11,TaxonomyCode12,TaxonomyCode13,TaxonomyCode14,TaxonomyCode15
0,1528061496,BRODY,HOWARD,NaN,DR.,NaN,M.D.,138 SERVICE RD,NaN,EAST LANSING,MI,488241376,5173533050,5174323742,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992708754,KAVCIC,JOHN,NaN,DR.,NaN,MD,20 LOSSON RD,STE 105,CHEEKTOWAGA,NY,142272379,7165587727,-1,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1538162003,RODRIGUEZ,EDWIN,J,NaN,NaN,M.D.,4643 S WOODHAVEN WAY,NaN,BILLINGS,MT,591062493,6059201965,-1,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1497758957,JACOB,CHRISTINA,N,DR.,NaN,M.D.,2230 LYNN RD,STE 230,THOUSAND OAKS,CA,913601984,8053735864,8053742439,F,207R00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1184627986,FLEMING,MICHAEL,O,DR.,NaN,MD,8383 MILLICENT WAY,NaN,SHREVEPORT,LA,711155207,3187976661,3187958512,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394520,1427786607,PICARRA,EMERALD,GRACE,NaN,NaN,NP,1980 LONG BRANCH CT,NaN,KERNERSVILLE,NC,272847398,4346040983,-1,F,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394521,1467629550,NASREEN,JOHRA,NaN,DR.,NaN,MD,8811 VILLAGE DRIVE,NaN,SAN ANTONIO,TX,78217,2102976500,2102972098,F,207Q00000X,390200000X,208M00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394522,1659735827,AVILA,ANIBAL,MIKJAIL,NaN,NaN,M.D.,800 N OKLAHOMA AVE APT 1201,NaN,OKLAHOMA CITY,OK,731044407,4057637098,-1,M,207VX0000X,207V00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394523,1598225997,DAMUS,FRANCESCA,NaN,NaN,NaN,NaN,1000 MEDICAL CENTER BLVD,NaN,LAWRENCEVILLE,GA,300467694,6783124077,-1,F,207Q00000X,390200000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394524,1942761820,RAVICHANDRAN,AJAY,K,DR.,NaN,DO,290 E TOWN ST,NaN,COLUMBUS,OH,432154602,6147885400,-1,M,390200000X,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Generate geocoding scripts
Note: only need to run once

In [4]:
# addresses = df[['NPI','PracticeAddress','PracticeCity','PracticeState','PracticeZip']]
# for idx, chunk in enumerate(np.array_split(addresses,40)):
#     chunk.to_csv(f"addresses{idx}.csv",index=False,header=False)
# for i in range(0,40):
#     print(f"!curl --form addressFile=@addresses{i}.csv --form benchmark=\"Public_AR_Current\"  https://geocoding.geo.census.gov/geocoder/locations/addressbatch --output geocodingResults/addresses{i}out.csv")

### Join all output together

In [5]:
path = '/Users/sarahrodenbeck/Documents/MSDS/MSDS498 - Capstone/Cervical_Cancer_Risk_Assessment/FindProviderFeature/geocodingResults'
cols = ['NPI','Address','isMatch','isExact','AddressFound','LonLat','TigerLineID','Side']
all_files = glob.glob(os.path.join(path,"*.csv"))
li = []
for f in all_files:
    df_temp = pd.read_csv(f,header=None,names=cols)
    li.append(df_temp)

geocode_df = pd.concat(li,axis=0,ignore_index=True)

In [6]:
geocode_match = geocode_df[geocode_df['isMatch']=='Match']
geocode_match[['LON', 'LAT']] = geocode_match['LonLat'].str.split(',', 1, expand=True)

/var/folders/j9/zypfn3lx7n72zyzrpnq_sqkr0000gn/T/ipykernel_1560/1173973982.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  geocode_match[['LON', 'LAT']] = geocode_match['LonLat'].str.split(',', 1, expand=True)
/var/folders/j9/zypfn3lx7n72zyzrpnq_sqkr0000gn/T/ipykernel_1560/1173973982.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geocode_match[['LON', 'LAT']] = geocode_match['LonLat'].str.split(',', 1, expand=True)
/var/folders/j9/zypfn3lx7n72zyzrpnq_sqkr0000gn/T/ipykernel_1560/1173973982.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geocode_match[['LON', 'LAT']] = geocode_match['LonLat'].str.split(',', 1, expand=True)

In [7]:
geocode_match

,NPI,Address,isMatch,isExact,AddressFound,LonLat,TigerLineID,Side,LON,LAT
0,1952577819,"1170 S EAST AVE, OAK PARK, IL, 603042143",Match,Non_Exact,"1170 S EAST AVE, OAK PARK, IL, 60304","-87.78889390499995,41.86642949700007",605103423.0,L,-87.78889390499995,41.86642949700007
2,1801811716,"275 SEVENTH AVE, NY, NY, 10001",Match,Exact,"275 7TH AVE, NEW YORK, NY, 10001","-73.99429134499997,40.74595244400007",59653388.0,R,-73.99429134499997,40.74595244400007
3,1780684019,"550 GAGE BLVD, RICHLAND, WA, 993529532",Match,Exact,"550 GAGE BLVD, RICHLAND, WA, 99352","-119.26166515499995,46.227124229000026",175008930.0,L,-119.26166515499995,46.227124229000026
4,1003819053,"436 HINSDALE RD, CAMILLUS, NY, 130311648",Match,Exact,"436 HINSDALE RD, CAMILLUS, NY, 13031","-76.26534634899997,43.050668114000075",640456402.0,R,-76.26534634899997,43.050668114000075
5,1871513564,"11100 EUCLID AVE, CLEVELAND, OH, 441061716",Match,Exact,"11100 EUCLID AVE, CLEVELAND, OH, 44106","-81.60805145599994,41.50662616000005",638278041.0,L,-81.60805145599994,41.50662616000005
...,...,...,...,...,...,...,...,...,...,...
394518,1023038155,"3501 N MACARTHUR BLVD, IRVING, TX, 750623636",Match,Non_Exact,"3501 N MACARTHUR BLVD, IRVING, TX, 75062","-96.95904881899997,32.852430351000066",617055072.0,L,-96.95904881899997,32.852430351000066
394520,1912929928,"307 SAINT JOHNS WAY, LEWISTON, ID, 835012435",Match,Exact,"307 ST JOHNS WAY, LEWISTON, ID, 83501","-117.02652766699998,46.41779947900005",173130432.0,R,-117.02652766699998,46.41779947900005
394521,1407960446,"728 PACIFIC AVE STE 611, SAN FRANCISCO, CA, 94...",Match,Exact,"728 PACIFIC AVE, SAN FRANCISCO, CA, 94133","-122.40751166399997,37.79682395400005",639023945.0,R,-122.40751166399997,37.79682395400005
394523,1336184613,"1540 SPRING VALLEY DR, HUNTINGTON, WV, 257049300",Match,Exact,"1540 SPRING VALLEY DR, HUNTINGTON, WV, 25704","-82.51809241699993,38.38406918700008",57203084.0,L,-82.51809241699993,38.38406918700008
394524,1790715050,"1111 CHESTNUT ST, NELSONVILLE, OH, 457641436",Match,Exact,"1111 CHESTNUT ST, NELSONVILLE, OH, 45764","-82.21891245699999,39.44934869800005",37093251.0,L,-82.21891245699999,39.44934869800005

### Add lat/lon info to original dataframe

In [8]:
df = pd.merge(df,geocode_match[['NPI','LON','LAT','AddressFound']], on='NPI',how='left')

In [9]:
df

,NPI,LastName,FirstName,MiddleName,Prefix,Suffix,Credential,PracticeAddress,PracticeAddress2,PracticeCity,PracticeState,PracticeZip,PracticePhoneNum,PracticeFaxNum,ProviderGender,TaxonomyCode1,TaxonomyCode2,TaxonomyCode3,TaxonomyCode4,TaxonomyCode5,TaxonomyCode6,TaxonomyCode7,TaxonomyCode8,TaxonomyCode9,TaxonomyCode10,TaxonomyCode11,TaxonomyCode12,TaxonomyCode13,TaxonomyCode14,TaxonomyCode15,LON,LAT,AddressFound
0,1528061496,BRODY,HOWARD,NaN,DR.,NaN,M.D.,138 SERVICE RD,NaN,EAST LANSING,MI,488241376,5173533050,5174323742,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992708754,KAVCIC,JOHN,NaN,DR.,NaN,MD,20 LOSSON RD,STE 105,CHEEKTOWAGA,NY,142272379,7165587727,-1,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.75084878799998,42.88220981100005,"20 LOSSON RD, CHEEKTOWAGA, NY, 14227"
2,1538162003,RODRIGUEZ,EDWIN,J,NaN,NaN,M.D.,4643 S WOODHAVEN WAY,NaN,BILLINGS,MT,591062493,6059201965,-1,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-108.63357612499999,45.77891708100003,"4643 WOODHAVEN WAY, BILLINGS, MT, 59106"
3,1497758957,JACOB,CHRISTINA,N,DR.,NaN,M.D.,2230 LYNN RD,STE 230,THOUSAND OAKS,CA,913601984,8053735864,8053742439,F,207R00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-118.88518063299995,34.208615802000054,"2230 LYNN RD, THOUSAND OAKS, CA, 91360"
4,1184627986,FLEMING,MICHAEL,O,DR.,NaN,MD,8383 MILLICENT WAY,NaN,SHREVEPORT,LA,711155207,3187976661,3187958512,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394520,1427786607,PICARRA,EMERALD,GRACE,NaN,NaN,NP,1980 LONG BRANCH CT,NaN,KERNERSVILLE,NC,272847398,4346040983,-1,F,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.13142824799996,36.08769943100003,"1980 LONG BRANCH CT SE, KERNERSVILLE, NC, 27284"
394521,1467629550,NASREEN,JOHRA,NaN,DR.,NaN,MD,8811 VILLAGE DRIVE,NaN,SAN ANTONIO,TX,78217,2102976500,2102972098,F,207Q00000X,390200000X,208M00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-98.42764404199994,29.520307142000036,"8811 VILLAGE DR, SAN ANTONIO, TX, 78217"
394522,1659735827,AVILA,ANIBAL,MIKJAIL,NaN,NaN,M.D.,800 N OKLAHOMA AVE APT 1201,NaN,OKLAHOMA CITY,OK,731044407,4057637098,-1,M,207VX0000X,207V00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-97.51044994199998,35.47505504800006,"800 N OKLAHOMA AVE, OKLAHOMA CITY, OK, 73104"
394523,1598225997,DAMUS,FRANCESCA,NaN,NaN,NaN,NaN,1000 MEDICAL CENTER BLVD,NaN,LAWRENCEVILLE,GA,300467694,6783124077,-1,F,207Q00000X,390200000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394524,1942761820,RAVICHANDRAN,AJAY,K,DR.,NaN,DO,290 E TOWN ST,NaN,COLUMBUS,OH,432154602,6147885400,-1,M,390200000X,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Create NUCC Taxonomy Database

In [10]:
url = 'postgresql+psycopg2://postgres:password@localhost/npiProviders'
engine = create_engine(url)

In [12]:
nucc = pd.read_csv('nucc_taxonomy_230.csv',usecols=['Code','Grouping','Classification','Specialization'])
nucc = nucc.fillna("")
nucc = nucc[['Code','Classification','Specialization']]
nucc.to_sql('nucc_codes',url,if_exists='replace',index=False)

873

### Generate Descriptive Columns

In [13]:
tqdm.pandas(desc='Progress')
def get_specialty(code):
    # print(code)
    query = f'SELECT "Classification" || \' (\' || "Specialization" || \')\' AS field FROM nucc_codes WHERE "Code"=\'{code}\' limit 1;'
    field = pd.read_sql(query,engine)
    if len(field) > 0:
        field = field.iloc[0]['field'].replace(" ()","")
    else:
        field = None
    return field
#primarySpecialty = []
df["PrimarySpecialty"] = df["TaxonomyCode1"].progress_apply(lambda x: get_specialty(x))

# res = [(lambda x: get_specialty(x))(row.TaxonomyCode1) for idx, row in df.iterrows()]

Progress: 100%|█████████████████████████████████████████████████████████████████████████████████████| 394525/394525 [11:08<00:00, 590.29it/s]

In [14]:
df = df.fillna("")
df['ProviderName'] = df.agg(lambda x: f'{x.FirstName} {x.MiddleName} {x.LastName} {x.Suffix}, {x.Credential}'.replace(",  ","").replace("  ", " ").replace(" ,",","),axis=1)

In [31]:
df['PracticePhoneNum'] = df['PracticePhoneNum'].astype(str).apply(lambda x: '('+x[:3]+') '+x[3:6]+'-'+x[6:10])

In [33]:
df

,NPI,LastName,FirstName,MiddleName,Prefix,Suffix,Credential,PracticeAddress,PracticeAddress2,PracticeCity,PracticeState,PracticeZip,PracticePhoneNum,PracticeFaxNum,ProviderGender,TaxonomyCode1,TaxonomyCode2,TaxonomyCode3,TaxonomyCode4,TaxonomyCode5,TaxonomyCode6,TaxonomyCode7,TaxonomyCode8,TaxonomyCode9,TaxonomyCode10,TaxonomyCode11,TaxonomyCode12,TaxonomyCode13,TaxonomyCode14,TaxonomyCode15,LON,LAT,AddressFound,PrimarySpecialty,ProviderName
0,1528061496,BRODY,HOWARD,NaN,DR.,NaN,M.D.,138 SERVICE RD,NaN,EAST LANSING,MI,488241376,(517) 353-3050,5174323742,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Family Medicine,"HOWARD BRODY, M.D."
1,1992708754,KAVCIC,JOHN,NaN,DR.,NaN,MD,20 LOSSON RD,STE 105,CHEEKTOWAGA,NY,142272379,(716) 558-7727,-1,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.750849,42.882210,"20 LOSSON RD, CHEEKTOWAGA, NY, 14227",Family Medicine,"JOHN KAVCIC, MD"
2,1538162003,RODRIGUEZ,EDWIN,J,NaN,NaN,M.D.,4643 S WOODHAVEN WAY,NaN,BILLINGS,MT,591062493,(605) 920-1965,-1,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-108.633576,45.778917,"4643 WOODHAVEN WAY, BILLINGS, MT, 59106",Family Medicine,"EDWIN J RODRIGUEZ, M.D."
3,1497758957,JACOB,CHRISTINA,N,DR.,NaN,M.D.,2230 LYNN RD,STE 230,THOUSAND OAKS,CA,913601984,(805) 373-5864,8053742439,F,207R00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-118.885181,34.208616,"2230 LYNN RD, THOUSAND OAKS, CA, 91360",Internal Medicine,"CHRISTINA N JACOB, M.D."
4,1184627986,FLEMING,MICHAEL,O,DR.,NaN,MD,8383 MILLICENT WAY,NaN,SHREVEPORT,LA,711155207,(318) 797-6661,3187958512,M,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Family Medicine,"MICHAEL O FLEMING, MD"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394520,1427786607,PICARRA,EMERALD,GRACE,NaN,NaN,NP,1980 LONG BRANCH CT,NaN,KERNERSVILLE,NC,272847398,(434) 604-0983,-1,F,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.131428,36.087699,"1980 LONG BRANCH CT SE, KERNERSVILLE, NC, 27284",Family Medicine,"EMERALD GRACE PICARRA, NP"
394521,1467629550,NASREEN,JOHRA,NaN,DR.,NaN,MD,8811 VILLAGE DRIVE,NaN,SAN ANTONIO,TX,78217,(210) 297-6500,2102972098,F,207Q00000X,390200000X,208M00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-98.427644,29.520307,"8811 VILLAGE DR, SAN ANTONIO, TX, 78217",Family Medicine,"JOHRA NASREEN, MD"
394522,1659735827,AVILA,ANIBAL,MIKJAIL,NaN,NaN,M.D.,800 N OKLAHOMA AVE APT 1201,NaN,OKLAHOMA CITY,OK,731044407,(405) 763-7098,-1,M,207VX0000X,207V00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-97.510450,35.475055,"800 N OKLAHOMA AVE, OKLAHOMA CITY, OK, 73104",Obstetrics & Gynecology (Obstetrics),"ANIBAL MIKJAIL AVILA, M.D."
394523,1598225997,DAMUS,FRANCESCA,NaN,NaN,NaN,NaN,1000 MEDICAL CENTER BLVD,NaN,LAWRENCEVILLE,GA,300467694,(678) 312-4077,-1,F,207Q00000X,390200000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Family Medicine,"FRANCESCA DAMUS,"
394524,1942761820,RAVICHANDRAN,AJAY,K,DR.,NaN,DO,290 E TOWN ST,NaN,COLUMBUS,OH,432154602,(614) 788-5400,-1,M,390200000X,207Q00000X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Student in an Organized Health Care Education/...,"AJAY K RAVICHANDRAN, DO"

In [34]:
df.to_csv('npi_registry_census_geocode.csv')

In [35]:
df = df.fillna("")
matches = df[df['LON']!=""]

In [36]:
matches = matches[['NPI','LON','LAT','AddressFound','PrimarySpecialty','ProviderName','ProviderGender','PracticePhoneNum']]

In [37]:
matches

,NPI,LON,LAT,AddressFound,PrimarySpecialty,ProviderName,ProviderGender,PracticePhoneNum
1,1992708754,-78.750849,42.88221,"20 LOSSON RD, CHEEKTOWAGA, NY, 14227",Family Medicine,"JOHN KAVCIC, MD",M,(716) 558-7727
2,1538162003,-108.633576,45.778917,"4643 WOODHAVEN WAY, BILLINGS, MT, 59106",Family Medicine,"EDWIN J RODRIGUEZ, M.D.",M,(605) 920-1965
3,1497758957,-118.885181,34.208616,"2230 LYNN RD, THOUSAND OAKS, CA, 91360",Internal Medicine,"CHRISTINA N JACOB, M.D.",F,(805) 373-5864
5,1245233295,-77.289645,42.875019,"335 PARRISH ST, CANANDAIGUA, NY, 14424",Internal Medicine,"JILL K POTTS, M.D.",F,(585) 393-2845
6,1508869553,-74.994474,39.691491,"220 PINE ST, WILLIAMSTOWN, NJ, 08094",Family Medicine,"LEE ANN VAN HOUTEN-SAUTER, D.O.",F,(856) 629-7436
...,...,...,...,...,...,...,...,...
394518,1497722409,-85.644684,41.934979,"1021 HILL ST, THREE RIVERS, MI, 49093",Internal Medicine,"VEERA JAYANTILAL PATEL, M.D.",F,(269) 273-8511
394519,1144531070,-76.590789,39.296936,"600 N WOLFE ST, BALTIMORE, MD, 21205",Internal Medicine (Cardiovascular Disease),"ROBERTA FLORIDO, M.D.",F,(410) 955-5999
394520,1427786607,-80.131428,36.087699,"1980 LONG BRANCH CT SE, KERNERSVILLE, NC, 27284",Family Medicine,"EMERALD GRACE PICARRA, NP",F,(434) 604-0983
394521,1467629550,-98.427644,29.520307,"8811 VILLAGE DR, SAN ANTONIO, TX, 78217",Family Medicine,"JOHRA NASREEN, MD",F,(210) 297-6500
394522,1659735827,-97.51045,35.475055,"800 N OKLAHOMA AVE, OKLAHOMA CITY, OK, 73104",Obstetrics & Gynecology (Obstetrics),"ANIBAL MIKJAIL AVILA, M.D.",M,(405) 763-7098

### Create postgresql database

In [38]:
matches.to_sql('npi_registry',url,if_exists='replace',index=False)

912

### Test Queries and Validation

In [39]:
query = 'SELECT * FROM npi_registry;'
pd.read_sql(query,engine)

,NPI,LON,LAT,AddressFound,PrimarySpecialty,ProviderName,ProviderGender,PracticePhoneNum
0,1992708754,-78.750849,42.882210,"20 LOSSON RD, CHEEKTOWAGA, NY, 14227",Family Medicine,"JOHN KAVCIC, MD",M,(716) 558-7727
1,1538162003,-108.633576,45.778917,"4643 WOODHAVEN WAY, BILLINGS, MT, 59106",Family Medicine,"EDWIN J RODRIGUEZ, M.D.",M,(605) 920-1965
2,1497758957,-118.885181,34.208616,"2230 LYNN RD, THOUSAND OAKS, CA, 91360",Internal Medicine,"CHRISTINA N JACOB, M.D.",F,(805) 373-5864
3,1245233295,-77.289645,42.875019,"335 PARRISH ST, CANANDAIGUA, NY, 14424",Internal Medicine,"JILL K POTTS, M.D.",F,(585) 393-2845
4,1508869553,-74.994474,39.691491,"220 PINE ST, WILLIAMSTOWN, NJ, 08094",Family Medicine,"LEE ANN VAN HOUTEN-SAUTER, D.O.",F,(856) 629-7436
...,...,...,...,...,...,...,...,...
310907,1497722409,-85.644684,41.934979,"1021 HILL ST, THREE RIVERS, MI, 49093",Internal Medicine,"VEERA JAYANTILAL PATEL, M.D.",F,(269) 273-8511
310908,1144531070,-76.590789,39.296936,"600 N WOLFE ST, BALTIMORE, MD, 21205",Internal Medicine (Cardiovascular Disease),"ROBERTA FLORIDO, M.D.",F,(410) 955-5999
310909,1427786607,-80.131428,36.087699,"1980 LONG BRANCH CT SE, KERNERSVILLE, NC, 27284",Family Medicine,"EMERALD GRACE PICARRA, NP",F,(434) 604-0983
310910,1467629550,-98.427644,29.520307,"8811 VILLAGE DR, SAN ANTONIO, TX, 78217",Family Medicine,"JOHRA NASREEN, MD",F,(210) 297-6500
310911,1659735827,-97.510450,35.475055,"800 N OKLAHOMA AVE, OKLAHOMA CITY, OK, 73104",Obstetrics & Gynecology (Obstetrics),"ANIBAL MIKJAIL AVILA, M.D.",M,(405) 763-7098

In [106]:
# query = 'SELECT * \
#         FROM npi_registry \
#         WHERE CAST("PracticeZip" as TEXT) like \'46236%%\';'
# pd.read_sql(query,engine)

,NPI,LastName,FirstName,MiddleName,Prefix,Suffix,Credential,PracticeAddress,PracticeAddress2,PracticeCity,PracticeState,PracticeZip,PracticeCountry,PracticePhoneNum,PracticeFaxNum,ProviderGender,TaxonomyCode1,TaxonomyCode2,TaxonomyCode3,TaxonomyCode4,TaxonomyCode5,TaxonomyCode6,TaxonomyCode7,TaxonomyCode8,TaxonomyCode9,TaxonomyCode10,TaxonomyCode11,TaxonomyCode12,TaxonomyCode13,TaxonomyCode14,TaxonomyCode15,Lon,Lat
0,1770004954,GIFFEN,MICHAEL,None,None,None,DO,8150 OAKLANDON RD STE 130,None,INDIANAPOLIS,IN,462369554,US,3176211111,3176211110,M,207Q00000X,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,-85.95714892899997,39.90479400100003
1,1942253208,BRADY,TIMOTHY,B,None,None,MD,9443 E. 38TH ST.,None,INDIANAPOLIS,IN,462362132,US,3178902100,3178902171,M,208000000X,207R00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,-86.00172876599999,39.82614653600007
2,1669017117,RETHERFORD,RACHEL,None,None,None,PA,8150 OAKLANDON RD STE 130,None,INDIANAPOLIS,IN,462369554,US,3176211111,3176211110,F,363A00000X,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,-85.95714892899997,39.90479400100003
3,1477999233,GELATT,MICHAEL,P,None,None,DO,8150 OAKLANDON RD,SUITE 130,INDIANAPOLIS,IN,462369525,US,3176211111,3176211110,M,390200000X,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,-85.95714892899997,39.90479400100003
4,1962479923,LISANTI,JOSEPH,P,DR.,None,DO,9347 PENDLETON PIKE,None,INDIANAPOLIS,IN,462362768,US,3176123193,3176123270,M,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,None,-86.00382091599994,39.84748465500007
5,1134765993,VARELDZIS,BASIL,None,DR.,None,MD,9125 NAUTICAL WATCH DR,None,INDIANAPOLIS,IN,462369036,US,3179192846,-1,M,207Q00000X,2083A0300X,2084P0015X,None,None,None,None,None,None,None,None,None,None,None,None,-85.96805080499996,39.919617405000054
6,1407111339,LEE,JASON,DANIEL,None,None,M.D.,8150 OAKLANDON RD STE 130,None,INDIANAPOLIS,IN,462369554,US,3176211111,3176211110,M,390200000X,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,-85.95714892899997,39.90479400100003
7,1528089844,LOVELESS,DANYELLE,M,None,None,MD,8150 OAKLANDON RD,SUITE 130,INDIANAPOLIS,IN,462369554,US,3176211111,3176211110,F,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,None,-85.95714892899997,39.90479400100003
8,1669496162,LYNN,WILLIAM,J,None,None,MD,8150 OAKLANDON RD,SUITE 130,INDIANAPOLIS,IN,462369554,US,3176211111,3176211110,M,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,None,-85.95714892899997,39.90479400100003
9,1144242124,VASILCHEK,DANICA,M,None,None,MD,8150 OAKLANDON RD,SUITE 130,INDIANAPOLIS,IN,462369554,US,3176211111,3176217110,F,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,None,-85.95714892899997,39.90479400100003
10,1760496772,ROBINETTE,JENNIFER,S,None,None,MD,8150 OAKLANDON RD,SUITE 130,INDIANAPOLIS,IN,462369554,US,3176217111,3176217110,F,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,None,-85.95714892899997,39.90479400100003
11,1396752226,STOOKEY,MICHELE,R,None,None,MD,8150 OAKLANDON RD,SUITE 130,INDIANAPOLIS,IN,462369554,US,3176217111,3176217110,F,207Q00000X,None,None,None,None,None,None,None,None,None,None,None,None,None,None,-85.95714892899997,39.90479400100003